/* Color pallete references: https://colorhunt.co/palette/070f2b1b1a55535c919290c3 
body:    #070F2B
lines:   #1B1A55
text:    #535C91
misc 2:  #9290C3
*/

/* 
priority layers:
0: default
5: light button
*/

/* Background */
body {
  font-family: "Nova Round", system-ui;
  font-weight: 50; /* there is only like two font weights with this supported font */
  font-style: normal;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #070F2B; /* dark gray */
}

body.light {
  background-color: #d4d3ff
}

/* Miscallaneous lines */
.line-u {
  width: 580px;
  margin: -10px auto;
  height: 125px;
  border-left: 1.5px solid #1e1d5f;
  border-right: 1.5px solid #1e1d5f;
  border-bottom: 1.5px solid #1e1d5f;
  box-shadow: 0 2px 3px #2c2b8e;
}

/* wip? */
/* .line-c {
  position: absolute;
  width: 290px;
  margin-right: 0px;
  margin-top: -250px;
  height: 300px;
  right: 0;
  border-left: 1.5px solid #1e1d5f;
  border-bottom: 1.5px solid #1e1d5f;
  box-shadow: 0px 2px 3px #2c2b8e;
} */

/* Generic Text */
h1, h2, h3, p, .footer-text, .box-buttons, .box-btn {
  color: #7b87d8;
}
/* Big Title Text */
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
}
.title {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -100px;
  text-align: center;
}
/* Secondary Title Test */
h2 {
  margin-top: 20px;
  height: 15px;
  font-size: 2.0rem;
}
/* Small Title Test */
h3 { font-size: 1.75rem; }
/* Paragraph Text */
p { font-size: 1.0rem; color: #7b87d8;}

/* version notes */
.footer-text-explore, .footer-text-version {
  position: fixed;
}
.footer-text-explore {
  left: 12px;
  bottom: 0px;
  font-size: 0.75rem;
}
.footer-text-version {
  right: 12px;
  bottom: 3px;
  font-size: 0.5rem;
}

/* Buttons */
.box-buttons {
  display: flex;
  gap: 1rem;
}

.box-btn-color-change { /* For light theme changing */
  position: absolute;
  top: 6px;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 3px #2c2b8e;
  z-index: 5; /* Priority layer */
}

.box-btn {
  margin: 0 auto;
  width: 350px;
  height: 170px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 3px #2c2b8e;
}

.box-btn-dark {
  background-color: #15173D; 
  /* dark:  #15173D https://colorhunt.co/palette/15173d982598e491c9f1e9e9 */
}

.box-btn-light {
  background-color: #dfd9ff; 
}