/* Color pallete references: https://colorhunt.co/palette/070f2b1b1a55535c919290c3 
body:    #070F2B
lines:   #1B1A55
text:    #535C91
misc 2:  #9290C3
*/

/* Background */
body {
  font-family: "Nova Round", system-ui;
  font-weight: 50; /* there is only like two font weights with this supported font */
  font-style: normal;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #070F2B; /* dark gray */
}

body.light {
  background-color: #d4d3ff
}

/* Miscallaneous lines */
.line {
  margin: 25px auto;
  width: 50%;
  height: 1.5px;
  background-color: #1e1d5f;
  box-shadow: 0 0 2px #1e1d5f;
}

/* Generic Text */
h1, h2, h3, p, .footer-text {
  color: #7b87d8;
}
/* Big Title Text */
h1 {
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 2.5rem;
}
/* Secondary Title Test */
h2 { font-size: 2.0rem; }
/* Small Title Test */
h3 { font-size: 1.75rem; }
/* Paragraph Text */
p { font-size: 1.0rem; color: #7b87d8;}

/* version notes */
.footer-text {
  position: fixed;
  bottom: 3px;
  right: 12px;
  font-size: 0.5rem;
}