/* The projects webpage has the largest amount of required css details
///so that's why it gets its own dedicated file */

/* 
priority layers (z-index):
0: default
5: light button
10: centered zoomed image
*/

.topic {
  text-decoration: underline;
  margin-top: 68px;
}

.scroller {
  display: flex;
  overflow-x: auto;
  gap: 1.8rem;
  background-color: #1f1cc72c;
  padding: 6px 6px;
  border-radius: 3px;

  scrollbar-color: #1e1d5f transparent;
  scrollbar-width: thin;
}

/* scroller bar related if part of the scroller properties don't work */
.scroller::-webkit-scrollbar {
  height: 6px;
} 

.scroller::-webkit-scrollbar-thumb {
  background: #1e1d5f;
  border-radius: 3px;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #7b87d8;
}

/* Image details, spacing, aesthetics */
.scroller-item {
  min-width: 250px;
  text-align: center;
}

.scroller-item img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--centered-image);
}

.expanded-img {
  max-width: 75%;
  max-height: 75%;
}